@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');


*{
 font-family:'Montserrat', sans-serif;

}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  background-color: #fec00723;
  overflow: hidden;
  flex-flow: row wrap;
  transition-duration: 0.4s;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 18px;
  margin-right: 20px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: orangered;
  /* border: 1px solid #fec107; */
}

/* Add a color to the active/current link */
/* How to dymatically change the class to active? */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  display: flex;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: Black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 16px 8px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* style for nav bar search box */
.search-box {
  padding: 14px 16px;
  margin-right: 20px;
}


/* style for menu buttons on home page! */
.Menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 500px;
  flex-basis: 200px;
}

.Menu button{
  background-color: #fec107; /* theme color*/
  border: none;
  color: black;
  padding: 40px 40px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  height: 150px; 
  border-radius: 15px;
  transition-duration: 0.4s;
  cursor:pointer;
}

/* Change the color of buttons on hover */
.Menu button:hover {
  background-color: white;
  color: #fea307;
  border: 2px solid #fec107;
  font-size: 25px;
}

/* CSS for event pubbing form */
/* .outer_wrapper{
  background:#fec107;
} */

.wrapper{
  max-width: 800px;
  width:600px;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  padding-top: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border: 1.5px solid #fec107;
  border-radius: 15px;
}

.wrapper .title{
  font-size:28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: orangered;
  text-align: center;
  
}

.wrapper form{
  width: 100%;
}

.wrapper form .input_field{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.wrapper form .input_field label{
  width: 400px;
  color: black;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
}

.wrapper form .input_field .input,
.wrapper form .input_field .textarea,
.wrapper form .input_field .custom_select{
  width: 100%;
  outline:None;
  border: 1px solid #d5dbd9;
  font-size: 14px;
  padding: 6px 6px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper form .input_field .textarea{
  resize:none;
  height:125px;
}
 
.wrapper form .input_field .radio_btn{
  float: right;
}


/* .wrapper form .input_field .custom_select{
  position: relative;
  width: 20%;
  height: 30px;
} */

.wrapper form .input_field .event_btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border:0;
  background: #fec107;
  color: black;
  cursor: pointer;
  border-radius: 3px;
}

.wrapper form .input_field .event_btn:hover{
  background: #fe8f07;
}

/* end of event-form css */

/* style for login form */
.profile_div{
  text-align: center;
  color: orangered;
  font-weight: bolder;
}

.intro {
  text-align: center;
  color: black ;
}

#login-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  font-weight: 800;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border: 1.5px solid #fec107;
  border-radius: 15px;
  width: 400px;
}

.profile_btn{
  height: 40px;
  border: 1px solid;
  background: white;
  font-size: 18px;
  color:black;
}

/* style for create profile form */

#create-profile-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: black;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border: 1.5px solid #fec107;
  border-radius: 15px;
  width: 400px;
}