@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Montez&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:wght@100;400&display=swap');

*{
 font-family:'Montserrat', sans-serif;

}

/* Add a black background color to the top navigation */
.topnav {
  display: flex;
  background-color: #fec00723;
  overflow: hidden;
  flex-flow: row wrap;
  transition-duration: 0.4s;
  padding-bottom: 5px;
  padding-top: 5px;
}


/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 18px;
  margin-right: 20px;
}

.topnav .sib_conn{
  font-family: 'Lobster', cursive;
  font-size: 26px;
  padding-top: 10px;
}

/* Change the color of links on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  color: orangered;
  /* border: 1px solid #fec107; */
}

/* Add a color to the active/current link */
/* How to dymatically change the class to active? */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  display: flex;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 18px;
  border: none;
  outline: none;
  color: Black;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 16px 8px 16px 16px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 17px;
  border-radius: 0px;
  margin-right: 0;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fec00723;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* style for nav bar search box */
.search-box {
  padding: 14px 16px;
  margin-right: 20px;
}

.search-box form{
  padding-top: 2px;
}

/* style for nav bar search box button*/
.search-box form input{
  cursor: pointer;
}

/* style for menu buttons on home page! */
.Menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 200px;
  margin-left: 500px;
  margin-right: 500px;
  flex-basis: 200px;
}

.Menu button{
  background-color: #fec107; /* theme color*/
  border: none;
  color: black;
  padding: 40px 40px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 200px;
  height: 150px; 
  border-radius: 15px;
  transition-duration: 0.4s;
  cursor:pointer;
}

/* Change the color of buttons on hover */
.Menu button:hover {
  background-color: white;
  color: orangered;
  border: 2px solid #fec107;
  font-size: 25px;
}

/* CSS for event pubbing form */

/* the outter wrap div of the form */
.wrapper{
  max-width: 800px;
  width:600px;
  background-color: #fff;
  margin: 20px auto;
  padding: 30px;
  padding-top: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border: 1.5px solid #fec107;
  border-radius: 15px;
}

#seek_wrapper{
  margin: 120px auto;
}

/* title of the form */
.wrapper .title{
  font-size:28px;
  font-weight: 700;
  margin-bottom: 25px;
  color: orangered;
  text-align: center;
}

.wrapper form{
  width: 100%;
}

/* each section (row) of the pub event form */
.wrapper form .input_field{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

/* pub event input field label */
.wrapper form .input_field label{
  width: 400px;
  color: black;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
}

/* input field of the form */
.wrapper form .input_field .input,
.wrapper form .input_field .textarea,
.wrapper form .input_field .custom_select{
  width: 100%;
  outline:None;
  border: 1px solid #d5dbd9;
  font-size: 14px;
  padding: 6px 6px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* for description */
.wrapper form .input_field .textarea{
  resize:none;
  height:125px;
}

/* radio button text label */
#event_location .radio_btn,
#event_recur .radio_btn{
  float: right;
  font-size: 16px;
}

/* radio button wrapper div for location */
#event_location{
  margin-left: 150px;
}

/* radio button wrapper div for recurring */
#event_recur{
  margin-left: 140px;
}

/* event form subumit button */
.wrapper form .input_field .event_btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border:0;
  background: #fec107;
  color: black;
  cursor: pointer;
  border-radius: 3px;
}

/* event form subumit button hover state */
.wrapper form .input_field .event_btn:hover{
  background-color: white;
  color: orangered;
  border: 1.5px solid #fec107;
  transition: 0.3s;
}

/* end of event-form css */

/* style for profile display page */
.profile_wrapper{
  margin: 90px auto;
  width: 800px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08)
}

.profile_wrapper .left{
  width: 35%;
  background: #fec107;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: black;
}

.profile_wrapper .left .profile_pic{
  clip-path: circle(50%);
  margin-bottom: 10px;
  width: 150px;
  height: 150px;
  margin-left: 18%;
}

.profile_wrapper .left img{
  object-fit: cover;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0px 10px 20px 0 rgba(37, 47, 51, 0.105);
}

.profile_wrapper .left h3{
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}


/* design for profile information div */
.profile_wrapper .left .profile_info{
  border: 2px solid #fde8acea;
  border-radius: 10px;
  margin-top: 20px;
  width: 200px;
  margin-left: 20px;
  /* box-shadow: 0px 10px 20px 0 rgba(37, 47, 51, 0.105); */
  background-color: #fde8acea;
}

/* design for profile information, text */
.profile_wrapper .left p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.8;
  padding-left: 16px;
  width: 90%;
  text-align: left;
}

/* design for profile information, button */
.profile_wrapper .left form{
  margin-bottom: 20px;
}

.profile_wrapper .left form button{
  cursor: pointer;
}

.profile_wrapper .right{
  width: 65%;
  background-color: #fbf1d4;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 25px;
}


.profile_wrapper .right .user_posted,
.profile_wrapper .right .user_interested{
  margin-bottom:25px;
}

.profile_wrapper .right .user_posted h3,
.profile_wrapper .right .user_interested h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #747373;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}



/* style for login, create profile, update profile forms */

/* the outter wrap div of the log in form */
.profile_div{
  max-width: 800px;
  width:400px;
  background-color: #fff;
  margin: 200px auto;
  padding: 30px;
  padding-top: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border: 1.5px solid #fec107;
  border-radius: 15px;
}

/* id for create profile */
#profile_id_div{
  margin: 100px auto;
  width:500px;
}

/* login form title */
.profile_div .title{
  font-size:28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: orangered;
  text-align: center;
}

/* login form description */
.profile_div .intro{
  text-align: center;
  color: orangered;
  margin-bottom: 50px;
}


/* the outter wrap div of the update profile */
.profile_div{
  max-width: 800px;
  width:400px;
  background-color: #fff;
  margin: 200px auto;
  padding: 30px;
  padding-top: 10px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  border: 1.5px solid #fec107;
  border-radius: 15px;
}


/* design for update profile form */
#profile_update_div{
  margin: 100px auto;
  width:550px;
}

/* log in, create profile, update profile form input field */
.profile_div #login-form .input_field .input,
.profile_div #create-profile-form .input_field .input,
.profile_div #create-profile-form .input_field .custom_select,
.profile_div #update_profile_form .input_field .input,
.profile_div #update_profile_form .input_field .custom_select{
  width: 100%;
  outline:None;
  border: 1px solid #d5dbd9;
  font-size: 14px;
  padding: 6px 6px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

/* each section (row) of the log in form */
#login-form .input_field,
#create-profile-form .input_field,
#update_profile_form .input_field{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

/* log in, create profile, update profile form input field label */
#login-form .input_field label,
#create-profile-form .input_field label,
#update_profile_form .input_field label{
  width: 200px;
  color: black;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
}

/* log in, create profile, update profile form form subumit button */
#login-form .input_field .profile_btn,
#create-profile-form .input_field .profile_btn,
#update_profile_form .input_field .profile_btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border:0;
  background: #fec107;
  color: black;
  cursor: pointer;
  border-radius: 3px;
}

/* event form subumit button hover state */
#login-form .input_field .login_btn:hover,
#create-profile-form .input_field .profile_btn:hover,
#update_profile_form .input_field .profile_btn:hover{
  background-color: white;
  color: orangered;
  border: 1.5px solid #fec107;
  transition: 0.3s;
}


.profile_div #update_profile_form .profile_pic{
  clip-path: circle(50%);
  margin-bottom: 20px;
  width: 200px;
  height: 200px;
  margin-left: 32%;
}

.profile_div #update_profile_form .profile_pic img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* for upload image description */
#update_profile_form .image_upload{
  text-align: center;
  margin-bottom: 50px;
  font-size: 15px;
}

#update_profile_form .image_upload input{
  margin-top: 8px;
  margin-left: 20%;
}