{% extends "base_login.html" %}
{% block main %}
<h1 class="h1">All Posts</h1>

<form class= post_form method="POST">
    <label> Filter by Event Type:</label>
    <select onChange="window.location.href=this.value"> 
    <option value="value" selected>Filter By</option>
    <option value="{{url_for('all_posts', sort='event_post')}}">Event Posts</option>
    <option value="{{url_for('all_posts', sort='seeking_post')}}" >Seeking Posts</option>
    </select>
</form>



<div id="posts">
    {% for post in all_posts %}
    <h3><a href="{{url_for('display_post',pid=post.pid)}}">{{post.title}}</a> </h3>
    <h4 class="h4">Description: {{post.description}}</h4>
    {% endfor %}
</div>

{% endblock %}


