<!---Authors: Amanda Cheung, Bethany Costello, Rita Lyu, Dominique Nino-->
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Amanda Cheung, Bethany Costello, Rita Lyu, Dominique Nino" content="">
    <title>SibConnect</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>
<!-- database is  -->
{% block nav %}
<div class = "topnav">
      <!--<a class="active" href="{{url_for('home')}}">Home</a> -->
      <a href="{{url_for('home')}}">Home</a>
      <a href="{{url_for('create_profile')}}">Create Profile</a>
      <a href="{{url_for('login')}}">Log In</a>
      <a href="{{url_for('logout')}}">Log Out</a>
      <a href="{{url_for('seeking')}}">Seeking events to participate in</a>
      <a href="{{url_for('event')}}">Create/ pub your event </a>
</div>
{% endblock %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

<!-- is home page and base (/) the same thing-->

{% block main %}

{% endblock %}

