{% extends "base.html" %}
<!-- database is  -->
{% block nav %}
<div class = "topnav">
      <!--<a class="active" href="{{url_for('home')}}">Home</a> -->
      <a class="sib_conn" href="{{url_for('home')}}">SibConnect</a>
      <a href="{{url_for('all_posts', sort='everything')}}">All Posts</a>
      <a href="{{url_for('seeking')}}">Seek events</a>
      <a href="{{url_for('event')}}">Pub events</a>
      <div class="search-box">
        <form action= "{{url_for('search')}}" method='get'>
          <label><input type= "text" name="search a post" size="30" 
            maxlength="60" placeholder="Search posts" required></label>
          <input type= 'submit' value= 'Submit'>
        </form>
      </div>
      <!-- drop down nav bar -->
      <div class="dropdown">
        <button class="dropbtn">Profile</button>
        <div class="dropdown-content">
            <a href="{{url_for('display_user')}}">View Profile</a>
            <a href="{{url_for('update_profile')}}">Edit Profile</a>
            <a href="{{url_for('logout')}}">Log Out</a>
        </div>
      </div>
</div>
{% endblock %}

<!-- is home page is with categories but base is just the nav bar-->