<!---Authors: Amanda Cheung, Bethany Costello, Rita Lyu, Dominique Nino-->
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Amanda Cheung, Bethany Costello, Rita Lyu, Dominique Nino" content="">
    <title>SibConnect</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>
<!-- database is  -->
{% block nav %}
<div id="navigation">
    <ul>
      <li><a href="/home/">Home</a>
      <li><a href="/login/">Log In</a>
      <li><a href="/seeking/">Seeking events to participate in</a>
      <li><a href="/event/">Create/ pub your event </a>
    </ul>
</div>
<!-- is home page and base (/) the same thing-->

{% block main %}

{% endblock %}

