{% extends "base.html" %}
{% block main %}
<h1>Create profile</h1>
<p class="intro"> <em>Please put your preference in this form below</em></p>

<form id="Create profile form"
    method="post"
    action="{{url_for('create_profile')}}">



<p><label>Email:
  <textarea required name="email" rows="1" cols="50"></textarea>
</label></p>

<p><label>First name:
  <input required type="text" name="first name" size="50"></label></p>

<p><label>Last name:
  <input required type="text" name="last name" size="50"></label></p>

<p><label>Password:
    <input required type="number" name="password"></label></p>

<p><label>Pronouns:
  <textarea required name="pronouns" rows="1" cols="50"></textarea>
</label></p>

<p><label>Interests:
  <textarea required name="interests" rows="1" cols="50"></textarea>
</label></p>

<p><label>Class Year:
    <select required name="class year">
        <option value="">choose</option>
        <option>2026</option>
        <option>2025</option>
        <option>2024</option>
        <option>2023</option>
        <option>Alum</option>
    </select>
</label></p>

<p><input type="submit" value="Create Profile">

</form>
{% endblock %}