{% extends "base_login.html" %}
{% block main %}
<h1>EVENT: {{post.title}}</h1>

<form action="{{url_for('display_post',pid=post.pid)}}" method="POST">
    <button type="submit" name="submit" value={{interested}}>{{interested}}</button>
    <h3>number of interests: {{num_interested}}</h3>
</form>


<div id="post_pid">
    <ul class="list">
        <li><strong> Description:</strong> {{post.description}}</li>
        <li><strong>Location:</strong> {{post.location}}</li>
        <li><strong> Category:</strong> {{category.name}}</li>
        <li><strong> When:</strong> {{post.date_time}}</li>
        <li><strong> Length:</strong> {{post.length}} minutes</li>
        <li><strong>Recurring:</strong> {{post.recurring}}</li> 
        <li><strong>Capacity Limit:</strong> {{post.capacity}}</li> 
        <li><strong>Skill Level:</strong> {{post.skill}}</li>
    </ul>
</div>

<div id="comments">
<h3> Comments: </h3>
{% for comment in comments %}
    <p> {{comment.first_name}} {{comment.last_name}} says: 
         {{comment.commenttext}} </p>
</div>
{% endfor %}
<form method="POST">
    <p><label> Post a comment: <br>
            <textarea required name= "commenttext" rows="5" cols="30"></textarea>
    </label></p>
    <p><input type= "submit" name= "submit" value= "comment"></p>
</form>


{% endblock %}