{% extends "base_login.html" %}
{% block main %}

<div class="profile_wrapper">
    <div class="left">
        <div class="profile_pic">
            <img src="{{src}}" alt ='Profile pic'>
        </div>
        <h3>Hello, {{user.first_name}} {{user.last_name}}</h3>
        <div class="profile_info">
            <p class="profile_text">Email: {{user.email}} <br>
            Pronouns: {{user.pronouns}}<br>
            Class Year: {{user.class_year}}<br>
            Interest: {{user.interests}}
            <form action="{{url_for('update_profile')}}">
            <button type="submit">Edit profile</button></form>
        </div>
    </div>

    <div class="right">
        <div class="user_posted">
            <h3>You Posted:</h3>
            <div class="user_posted_events">
                {% for post in user_posted %}
                <h4><a href="{{url_for('display_post',pid=post.pid)}}">{{post.title}}</a></h3>
                <h5>Description: {{post.description}}</h4>
                {% endfor %}
            </div>
        </div>

        <div class="user_interested">
            <h3>You're Interested In:</h3>
            <div class="user_interested_events">
                {% for post1 in user_interested %}
                <h4><a href="{{url_for('display_post',pid=post1.pid)}}">{{post1.title}}</a></h3>
                <h5>Description: {{post1.description}}</h4>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}
