{% extends "base.html" %}
{% block main %}
<h1>Update your profile</h1>
<p class="intro"> <em>Please update your profile information in the form below</em></p>

<form id="Update profile here"
    methods="post"
    action="{{url_for('update_profile')}}"
    enctype="multipart/form-data">

<p><label>Email:
  <input name="email" rows="1" cols="50" value={{user.email}}></input>
</label></p>

<p><label>First name:
  <input required type="text" name="first_name" size="50" value={{user.first_name}}></label></p>

<p><label>Last name:
  <input required type="text" name="last_name" size="50" value={{user.last_name}}></label></p>

<p><label>Pronouns:
  <input required type="text" name="pronouns" rows="1" cols="50" value ={{user.pronouns}}></input>
</label></p>

<p><label>Interests:
  <input required type="text" name="interests" rows="1" cols="50" value={{user.interests}}></input>
</label></p>

<p><label>Dorm:
  <input required name="dorm" rows="1" cols="50" value={{user.dorm}}></input>
</label></p>

<p><label>Class Year:
    <select required name="class_year">
        <option value={{user.class_year}}>choose</option>
        <option>2026</option>
        <option>2025</option>
        <option>2024</option>
        <option>2023</option>
        <option>Alum</option>
    </select>
</label></p>

<p><label>Pic: <input type="file" name="pic"></label></p>

<p><input type="submit" value="Update Profile">

</form>
{% if uid != '' and src != '' %}
<p>Last upload: {{uid}}</p>
<p> <img src="{{src}}"></p>
{% endif %}
{% endblock %}
