{% extends "base.html" %}
{% block main %}

<body>
  <ul class="navMenu">
    <li><a href="{{url_for('category', category='Music')}}">"Music"</a>
    <li><a href="{{url_for('category', category='Arts & Crafts')}}">"Arts & Crafts"</a>
    <li><a href="{{url_for('category', category='Language & Culture')}}">"Language & Culture"</a>
    <li><a href="{{url_for('category', category='Movies & Shows')}}">"Movies & Shows"</a>
    <li><a href="{{url_for('category', category='Sports & Outdoor')}}">"Sports & Outdoor"</a>
      <li><a href="{{url_for('category', category='Other')}}">"Other"</a>
  </ul>
</body>
{% endblock %}
